/* Paleta:
#EEEEEE blanco
#393E46 gris
#222831 oscuro
#00ADB5 celeste

Para iluminacion y sombras:
#414D5E gris para la linea separadora, mas claro que el otro gris
#FFFFFF blanco puro
#00B6BF celeste mas claro que el otro
#C9C9C9 gris muy claro
*/

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

.info-top {
    background-color: #393E46;
    color: #EEEEEE;
    font-size: 8pt;
    display: flex;
    justify-content: space-between;
    padding: 13px 15%;
    align-items: center;
}

.info-top > .izq > a {
    color: #EEEEEE;
}

.info-top > .der > a {
    color: #EEEEEE;
    font-size: 10pt;
}

.info-top > .izq > a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFFFFF;
}

.info-top > .der > a:hover {
    color: #FFFFFF;
    font-size: 10pt;
    text-shadow: 0 0 5px #FFFFFF;
}

.info-top > .der{
    display: flex;
    gap: 18px;
}

.info-top > .izq{
    display: flex;
    gap: 18px;
}

header {
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 15%;
    box-shadow: 0 10px 5px #C9C9C9;
}

header > .izq > .logo {
    color: #EEEEEE;
    font-size: 34pt;
}

header > .izq > .logo:hover {
    color: #00ADB5;
}

header > .mid {
    display: flex;
    gap: 65px;
}

header > .mid > a:hover{
    color: #00B6BF;
    text-shadow: 0 0 5px #00B6BF;
}

header > .der {
    display: flex;
    gap: 15px;
}

header > .der > a:hover{
    color: #00B6BF;
    text-shadow: 0 0 5px #00B6BF;
}

header > .der > .boton-menu {
    display: none;
}

header > .der > .boton-menu:hover {
    cursor: pointer;
}

.logo {
    font-weight: 600; 
}

a {
    color: #00ADB5;
    text-decoration: none;
}

a:active {
    color: #00ADB5;
}

article{
    display: flex;
    flex-direction: column;
    padding: 10px 300px 80px 300px;
    color: #222831;
    font-size: 12pt;
}

h1 {
    font-size: 36pt;
    font-weight: lighter;
    margin: 18px 0;
}

.texto {
    text-align: center;
}

footer {
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    padding: 40px 15%;
    margin-top: auto;
    gap: 26px;
}

footer > .info {
    display: flex;
    justify-content: space-between;
}

footer > .redes {
    display: flex;
    font-size: 30pt;
    gap: 26px;
}

footer > .redes > a {
    color: #EEEEEE;
}

footer > .redes > a:hover {
    color: #00ADB5;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 30%;
}

p {
    padding: 0;
    margin: 0;
}

footer > .info > .columna > .texto-grande {
    font-size: 18pt;
}

footer > .info > .columna > .logo:hover {
    color: #00ADB5;
    text-shadow: none;
}

footer > .info > .columna > a {
    color: #EEEEEE;
    /* width: fit-content; */
}

footer > .info > .columna > a:hover {
    color: #FFFFFF;
    text-shadow: 0 0 5px #FFFFFF;
}

.linea {
    border-bottom: 1px ridge #414D5E;
    margin: 4px 0;
}

.productos {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.productos > .tarjeta {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    border: 1px solid #C9C9C9;
    box-shadow: 0 8px 5px #C9C9C9;
    justify-content: space-between;
    min-height: 400px;
    
}

.productos > .tarjeta > .datos-producto {
    background-color: #EEEEEE;
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid #C9C9C9;
    min-height: 50px;
}

.productos > .tarjeta > .datos-producto > .estrellas {
    color: rgb(197, 197, 68);
}

.productos > .tarjeta:hover {
    background-color: #C9C9C9;
}

.productos > .tarjeta:hover .compra {
    opacity: 1;
}

.productos > .tarjeta > img {
    width: 250px;
    max-height: 250px;
    margin: auto;
}

.compra {
    background-color: #00ADB5;
    color: #EEEEEE;
    padding: 12px;
    font-size: 16pt;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25%;
    opacity: 0;
    transition: opacity 0.4s;
}

.compra:hover {
    color: #FFFFFF;
    text-shadow: 0 0 5px #00B6BF;
    box-shadow: 0 0 4px #00B6BF;
}

.categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    font-size: 16pt;
    padding: 0 10%;
}

.categorias > a{
    border-radius: 25px;
    border: 4px solid #00ADB5;
    display: flex;
    flex: 1 0 20px;
    justify-content: center;
    max-width: 200px;
    padding: 8px;
}

.categorias > a:hover{
    color: #00B6BF;
    border: 4px solid #00B6BF;
    box-shadow: 0 0 5px #00B6BF;
}

@media (max-width: 1300px) {

    header > .mid {
        display: flex;
        gap: 50px;
    }

    header {
        padding: 26px 4%;
    }

    .info-top {
    padding: 14px 4%;
    }

    footer {
        padding: 40px 80px;
    }

    article {
        padding: 10px 100px 80px 100px;
    }

    .categorias > a{
        max-width: 100px;
    }
}

@media (max-width: 850px) {

    .info-top {
        display: none;
    }

    header {
        padding: 26px 30px;
    }

    header > .der > .boton-menu {
        display: block;
    }

    header > .mid {
        display: none;
    }

    header > .mid.invisible {
        display: none;
    }

    header > .mid.visible {
        background-color: #222831;
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        top: 100px;
        left: 0px;
        right: 0px;
        padding: 15px 10%;
        box-shadow: 0 10px 5px #C9C9C9;
    }

    header.visible {
        margin-bottom: 60px;
    }

    footer {
        flex-direction: column;
        gap: 35px;
        padding: 35px 12%;
    }

    .linea {
        border-bottom: 1px ridge #414d5e;
        margin: 4px 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .columna {
        display: flex;
        flex-direction: column;
    }

    article {
        padding: 10px 100px 80px 100px;
    }

    .categorias {
        gap: 20px;
    }
}