/* Paleta: */

:root {
    --blanco: #EEEEEE;
    --gris-claro: #393E46;
    --gris-oscuro: #222831;
    --celeste: #00ADB5;
    /* Para iluminacion y sombras: */
    --linea-separadora: #414D5E;
    --blanco-iluminacion: #FFFFFF;
    --celeste-iluminacion: #00B6BF;
    --gris-sombras: #C9C9C9;
    --estrella: rgb(197, 197, 68);
}

* {
    font-family: 'Roboto', sans-serif;
}

body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: var(--blanco);
    --i: -1;
    --j: -1;
    --r: 0px;
    height: 100%;
    background-blend-mode: luminosity;
}

a {
    text-decoration: none;
}

a:visited,
a:active {
    color: inherit;
}

p {
    padding: 0;
    margin: 0;
}

.info-top {
    background-color: var(--gris-claro);
    color: var(--blanco);
    font-size: 8pt;
    display: flex;
    justify-content: space-between;
    padding: 13px 15%;
    align-items: center;
}

.info-top > .izq > a,
.info-top > .der > a {
    color: var(--blanco);
}

.info-top > .izq > a:hover,
.info-top > .der > a:hover {
    color: var(--blanco-iluminacion);
    font-size: inherit;
    text-shadow: 0 0 5px var(--blanco-iluminacion);
}

.info-top > .der,
.info-top > .izq{
    display: flex;
    gap: 18px;
}

.info-top > .der {
    font-size: 10pt;
}

header {
    background-color: var(--gris-oscuro);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 18px 15%;
    box-shadow: 0 10px 5px var(--gris-sombras);
}

header > .der > a,
header > .mid > a {
    color: var(--celeste);
}

header > * > a {
    color: var(--celeste);
}

header > .izq > .logo {
    color: var(--blanco);
    font-size: 34pt;
}

header > .izq > .logo:hover {
    color: var(--celeste);
}

header > .mid {
    gap: 65px;
}

header > .der {
    gap: 15px;
}

header > .mid,
header > .der {
    display: flex;
}

header > .mid > a:hover,
header > .der > a:hover{
    color: var(--celeste-iluminacion);
    text-shadow: 0 0 5px var(--celeste-iluminacion);
}

header > .der > .boton-menu {
    display: none;
}

header > .der > .boton-menu:hover {
    cursor: pointer;
}

.logo {
    font-weight: 800; 
}

article{
    display: flex;
    flex-direction: column;
    padding: 10px 300px 80px 300px;
    color: var(--gris-oscuro);
    font-size: 12pt;
}

h1 {
    font-size: 36pt;
    font-weight: 350;
    margin: 18px 0;
}

.texto {
    text-align: center;
}

footer {
    background-color: var(--gris-oscuro);
    color: var(--blanco);
    display: flex;
    flex-direction: column;
    padding: 40px 15%;
    margin-top: auto;
    gap: 26px;
}

footer > .info {
    display: flex;
    justify-content: space-between;
}

footer > .redes {
    display: flex;
    font-size: 30pt;
    gap: 26px;
}

footer > .redes > a {
    color: var(--blanco);
}

footer > .redes > a:hover {
    color: var(--celeste);
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 30%;
}

footer > .info > .columna > .texto-grande {
    font-size: 18pt;
}

footer > .info > .columna > .logo:hover {
    color: var(--celeste);
    text-shadow: none;
}

footer > .info > .columna > a {
    color: var(--blanco);
    /* width: fit-content; */
}

footer > .info > .columna > a:hover {
    color: var(--blanco-iluminacion);
    text-shadow: 0 0 5px var(--blanco-iluminacion);
}

.linea {
    border-bottom: 1px ridge var(--linea-separadora);
    margin: 4px 0;
}

.productos {
    padding-top: 50px;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    gap: 30px;
    justify-content: center;
    align-items: center;
}

.productos > .tarjeta {
    position: relative;
    display: flex;
    flex-direction: column;
    flex: 1 0 20%;
    border: 1px solid var(--gris-sombras);
    box-shadow: 0 8px 5px var(--gris-sombras);
    justify-content: space-between;
    min-height: 400px;
    
}

.productos > .tarjeta > .datos-producto {
    background-color: var(--blanco);
    display: flex;
    flex-direction: column;
    padding: 20px;
    align-items: center;
    justify-content: center;
    border-top: 1px solid var(--gris-sombras);
    min-height: 50px;
}

.productos > .tarjeta > .datos-producto > .estrellas {
    color: var(--estrella);
}

.productos > .tarjeta:hover {
    background-color: var(--gris-sombras);
}

.productos > .tarjeta:hover .compra {
    opacity: 1;
}

.productos > .tarjeta > img {
    width: 250px;
    max-height: 250px;
    margin: auto;
}

.compra {
    background-color: var(--celeste);
    color: #EEEEEE;
    padding: 12px;
    font-size: 16pt;
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translate(-50%, -50%);
    border-radius: 25%;
    opacity: 0;
    transition: opacity 0.4s;
}

.compra:hover {
    color: #FFFFFF;
    text-shadow: 0 0 5px var(--celeste-iluminacion);
    box-shadow: 0 0 4px var(--celeste-iluminacion);
}

.categorias {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 90px;
    font-size: 16pt;
    padding: 0 10%;
}

.categorias > a{
    color: var(--celeste);
    border-radius: 25px;
    border: 4px solid var(--celeste);
    display: flex;
    flex: 1 0 20px;
    justify-content: center;
    max-width: 200px;
    padding: 8px;
}

.categorias > a:hover{
    color: var(--celeste-iluminacion);
    border: 4px solid var(--celeste-iluminacion);
    box-shadow: 0 0 5px var(--celeste-iluminacion);
}

@media (max-width: 1300px) {

    header > .mid {
        display: flex;
        gap: 50px;
    }

    header {
        padding: 26px 4%;
    }

    .info-top {
    padding: 14px 4%;
    }

    footer {
        padding: 40px 80px;
    }

    article {
        padding: 10px 100px 80px 100px;
    }

    .categorias > a{
        max-width: 100px;
    }
}

@media (max-width: 850px) {

    .info-top {
        display: none;
    }

    header {
        padding: 26px 30px;
    }

    header > .der > .boton-menu {
        display: block;
    }

    header > .mid {
        display: none;
    }

    header > .mid.invisible {
        display: none;
    }

    header > .mid.visible {
        background-color: var(--gris-oscuro);
        position: absolute;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 15px;
        top: 100px;
        left: 0px;
        right: 0px;
        padding: 15px 10%;
        box-shadow: 0 10px 5px var(--gris-sombras);
    }

    header.visible {
        margin-bottom: 60px;
    }

    footer {
        flex-direction: column;
        gap: 35px;
        padding: 35px 12%;
    }

    .linea {
        border-bottom: 1px ridge var(--linea-separadora);
        margin: 4px 0;
    }

    .info {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .columna {
        display: flex;
        flex-direction: column;
    }

    article {
        padding: 10px 100px 80px 100px;
    }

    .categorias {
        gap: 20px;
    }
}

  .miBody  {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: 0 auto;
    padding-top: 4em;
    max-width: 1000px;
    font: 1em/1.5 trebuchet ms, verdana, sans-serif;
  }
  
  miHeader {
    margin: 1rem;
    padding: 1em 0;
    border-radius: .5em;
    min-width: 95%;
    background: #fff;
    text-align: center;
  }
  
  miArticulo {
    overflow: hidden;
    margin: 1rem;
    width: 21em;
    min-width: 15rem;
    border-radius: 1em;
  }
  miArticulo:nth-of-type(1) {
    --c0: var(--gris-claro);
    --c1: var(--gris-oscuro);
  }
  miArticulo:nth-of-type(2) {
    --c0: var(--gris-claro);
    --c1: var(--gris-oscuro);
  }
  miArticulo:nth-of-type(3) {
    --c0: var(--gris-claro);
    --c1: var(--gris-oscuro);
  }
  miArticulo:nth-of-type(4) {
    --c0: var(--gris-claro);
    --c1: var(--gris-oscuro);
  }
  
  miH3, miSection {
    display: flex;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0.5rem;
  }
  miH3:before, miSection:before {
    position: absolute;
    z-index: -1;
    top: calc(var(--j)*1rem + (1 + var(--j))*50% - var(--r));
    left: calc(var(--i)*1rem + (1 + var(--i))*50% - var(--r));
    padding: var(--r);
    border-radius: 50%;
    box-shadow: 0 0 0 50em;
    content: "";
  }
  
  miH3:before, miSection {
    color: var(--c1);
  }
  
  miH3 {
    justify-content: center;
    color: #fff;
    font-size: 1.75em;
    text-align: center;
    min-height: var(--r);
  }
  miH3:before {
    opacity: 0.65;
  }
  
  miSection {
    justify-content: space-between;
    min-height: calc(var(--r) - 1rem);
  }
  miSection:before {
    color: var(--c0);
  }
  miParrafo {
    margin-right: 1em;
    font-size: .875em;
  }
  
  miEnlace {
    display: inline-block;
    color: inherit;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
  }
  miEnlace:after {
    content: " ▶";
  }
  
  @media (min-width: 34rem) {
    html {
      --r: 4rem;
    }
  
    miHeader {
      position: relative;
    }
    miHeader:before, miHeader:after {
      position: absolute;
      left: 50%;
      content: "";
    }
    miHeader:before {
      top: 100%;
      width: calc(.0625*var(--r));
      height: calc(2*var(--r) + 1rem);
      transform: translate(-50%);
      background: inherit;
    }
    miHeader:after {
      top: calc(3*1rem + 3.125*var(--r));
      border: solid calc(.375*var(--r)) transparent;
      padding: calc(.375*var(--r));
      border-radius: 50%;
      transform: translate(-50%, -50%);
      box-shadow: 0 0 0 5px #fff;
      background: #fff padding-box;
    }
  
    miArticulo {
      width: 40%;
    }
    miArticulo:nth-of-type(-n + 2) {
      --j: 1;
    }
    miArticulo:nth-of-type(odd) {
      --i: 1;
    }
    miArticulo:nth-of-type(-n + 2) miH3:before, miArticulo:nth-of-type(n + 3) miSection:before {
      --r: 0;
    }
    miArticulo:nth-of-type(-n + 2) miSection, miArticulo:nth-of-type(n + 3) miH3 {
      padding-right: calc(.5*(1 + var(--i))*(var(--r) - 1rem) + 0.5rem);
      padding-left: calc(.5*(1 - var(--i))*(var(--r) - 1rem) + 0.5rem);
    }
  }