<!-- Aqui va el contenido de la pagina -->
<table border="1" id="tablaT" cellspacing="0" cellpadding="5">
    <tr>
        <th>ID</th>
        <th>Producto</th>
        <th>Precio por Unidad</th>
        <th>Cantidad</th>
        <th colspan="2">Seleccionar</th>
    </tr>
    <tr *ngFor="let enc of compras">
        <td>{{enc.idcompra}}</td>
        <td>{{enc.producto}}</td>
        <td>{{enc.preciou}}</td>
        <td>{{enc.cantidad}}</td>
        <td style="background-color: #32e4ae"><button (click)="baja(enc.idcompra)">Borrar</button></td>
        <td style="background-color: #32e4ae"><button (click)="seleccionar(enc.idcompra)">Seleccionar</button></td>
    </tr>
</table>
<br><br>
<ng-template #sincompras><p>No hay compras.</p></ng-template>
  <div>
    <p>
      Id compra:<input type="number" [(ngModel)]="enc.idcompra" disabled />
    </p><br>
    <p>
      Producto:<input type="text"  [(ngModel)]="enc.producto" disabled />
    </p><br>
    <p>
      Precio por Unidad:<input type="number"  [(ngModel)]="enc.preciou" disabled />
    </p><br>
    <p>
      Cantidad:<input type="number" [(ngModel)]="enc.cantidad" />
    </p><br>
    <p><button (click)="alta()">Agregar</button>
    <button (click)="modificacion()">Modificar</button></p>
  </div>

<div class="catalogo">
    <div class="ropa">
        <h1>Ropa</h1>
        <div class="rect">
            <div clas="card">
                <img src="assets/ropa0.png" class="imag">
                <div class="agregaT">
                    <label #pi0>1</label><br>
                    <label #pn0>Polera Roja</label><br>
                    <label  #pr0>70</label><br>
                    <button (click)="enviarValores(pi0.innerText ,pn0.innerText, pr0.innerText)">enviar</button>
                </div>

            </div>

            <div>
                <img src="assets/ropa1.png" class="imag">
                <div class="agregaT">
                    <label #pi1>2</label><br>
                    <label #pn1>Deportivo Negro</label><br>
                    <label  #pr1>250</label><br>
                    <button (click)="enviarValores(pi1.innerText ,pn1.innerText, pr1.innerText)">enviar</button>
                </div>
            </div>

            <div>
                <img src="assets/ropa2.png" class="imag">
                <div class="agregaT">
                    <label #pi2>3</label><br>
                    <label #pn2>Buso Blanco</label><br>
                    <label  #pr2>130</label><br>
                    <button (click)="enviarValores(pi2.innerText ,pn2.innerText, pr2.innerText)">enviar</button>
                </div>
            </div>

        </div>

        <div class="rect">
            <div>
                <img src="assets/ropa3.png" class="imag">
                <div class="agregaT">
                    <label #pi3>4</label><br>
                    <label #pn3>Chaqueta Negra</label><br>
                    <label  #pr3>240</label><br>
                    <button (click)="enviarValores(pi3.innerText ,pn3.innerText, pr3.innerText)">enviar</button>
                </div>
            </div>
            <div>
                <img src="assets/ropa4.png" class="imag">
                <div class="agregaT">
                    <label #pi4>5</label><br>
                    <label #pn4>Chaqueta Verde</label><br>
                    <label  #pr4>210</label><br>
                    <button (click)="enviarValores(pi4.innerText ,pn4.innerText, pr4.innerText)">enviar</button>
                </div>
            </div>
            <div>
                <img src="assets/ropa5.png" class="imag">
                <div class="agregaT">
                    <label #pi5>6</label><br>
                    <label #pn5>Deportivo Infantil</label><br>
                    <label  #pr5>135</label><br>
                    <button (click)="enviarValores(pi5.innerText ,pn5.innerText, pr5.innerText)">enviar</button>
                </div>
            </div>
        </div>

        <div class="rect">
            <div>
                <img src="assets/ropa6.png" class="imag">
                <div class="agregaT">
                    <label #pi6>7</label><br>
                    <label #pn6>Chaqueta Ploma</label><br>
                    <label  #pr6>190</label><br>
                    <button (click)="enviarValores(pi6.innerText ,pn6.innerText, pr6.innerText)">enviar</button>
                </div>
            </div>
            <div>
                <img src="assets/ropa7.png" class="imag">
                <div class="agregaT">
                    <label #pi7>8</label><br>
                    <label #pn7>Polera Verde</label><br>
                    <label  #pr7>90</label><br>
                    <button (click)="enviarValores(pi7.innerText ,pn7.innerText, pr7.innerText)">enviar</button>
                </div>
            </div>
            <div>
                <img src="assets/ropa8.png" class="imag">
                <div class="agregaT">
                    <label #pi8>9</label><br>
                    <label #pn8>Top Deportivo Naranja</label><br>
                    <label  #pr8>80</label><br>
                    <button (click)="enviarValores(pi8.innerText ,pn8.innerText, pr8.innerText)">enviar</button>
                </div>
            </div>
        </div>

        <div class="rect">
            <div>
                <img src="assets/ropa9.png" class="imag">
                <div class="agregaT">
                    <label #pi9>10</label><br>
                    <label #pn9>Polera Negra</label><br>
                    <label  #pr9>70</label><br>
                    <button (click)="enviarValores(pi9.innerText ,pn9.innerText, pr9.innerText)">enviar</button>
                </div>
            </div>
            <div>
                <img src="assets/ropa10.png" class="imag">
                <div class="agregaT">
                    <label #pi10>11</label><br>
                    <label #pn10>Chaqueta Roja</label><br>
                    <label  #pr10>125</label><br>
                    <button (click)="enviarValores(pi10.innerText ,pn10.innerText, pr10.innerText)">enviar</button>
                </div>
            </div>
            <div>
                <img src="assets/ropa11.png" class="imag">
                <div class="agregaT">
                    <label #pi11>12</label><br>
                    <label #pn11>Chaqueta Azul</label><br>
                    <label  #pr11>115</label><br>
                    <button (click)="enviarValores(pi11.innerText ,pn11.innerText, pr11.innerText)">enviar</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="tenis">
        <h1>Tenis</h1>
        <div class="rect">
            <div><img src="assets/tenis1.png" class="imag">
                <div class="agregaT">
                    <label #pi12>13</label><br>
                    <label #pn12>Pumba Negro</label><br>
                    <label  #pr12>75</label><br>
                    <button (click)="enviarValores(pi12.innerText ,pn12.innerText, pr12.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tenis2.png" class="imag">
                <div class="agregaT">
                    <label #pi13>14</label><br>
                    <label #pn13>Puma Blanco</label><br>
                    <label  #pr13>180</label><br>
                    <button (click)="enviarValores(pi13.innerText ,pn13.innerText, pr13.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tenis3.png" class="imag">
                <div class="agregaT">
                    <label #pi14>15</label><br>
                    <label #pn14>Puma Rojo</label><br>
                    <label  #pr14>185</label><br>
                    <button (click)="enviarValores(pi14.innerText ,pn14.innerText, pr14.innerText)">enviar</button>
                </div>
            </div>
        </div>

        <div class="rect">
            <div><img src="assets/tenis4.png" class="imag">
                <div class="agregaT">
                    <label #pi15>16</label><br>
                    <label #pn15>Casual Verde</label><br>
                    <label  #pr15>75</label><br>
                    <button (click)="enviarValores(pi15.innerText ,pn15.innerText, pr15.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tenis5.png" class="imag">
                <div class="agregaT">
                    <label #pi16>17</label><br>
                    <label #pn16>Puma Azul</label><br>
                    <label  #pr16>177</label><br>
                    <button (click)="enviarValores(pi16.innerText ,pn16.innerText, pr16.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tenis6.png" class="imag">
                <div class="agregaT">
                    <label #pi17>18</label><br>
                    <label #pn17>Casual Blanco</label><br>
                    <label  #pr17>65</label><br>
                    <button (click)="enviarValores(pi17.innerText ,pn17.innerText, pr17.innerText)">enviar</button>
                </div>
            </div>
        </div>

        <div class="rect">
            <div><img src="assets/tenis7.png" class="imag">
                <div class="agregaT">
                    <label #pi18>19</label><br>
                    <label #pn18>Puma Naranja</label><br>
                    <label  #pr18>175</label><br>
                    <button (click)="enviarValores(pi18.innerText ,pn18.innerText, pr18.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tenis8.png" class="imag">
                <div class="agregaT">
                    <label #pi19>20</label><br>
                    <label #pn19>Casual Rosado</label><br>
                    <label  #pr19>85</label><br>
                    <button (click)="enviarValores(pi19.innerText ,pn19.innerText, pr19.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tenis9.png" class="imag">
                <div class="agregaT">
                    <label #pi20>21</label><br>
                    <label #pn20>Casual Beige</label><br>
                    <label  #pr20>75</label><br>
                    <button (click)="enviarValores(pi20.innerText ,pn20.innerText, pr20.innerText)">enviar</button>
                </div>
            </div>
        </div>

        <div class="rect">
            <div><img src="assets/tenis10.png" class="imag">
                <div class="agregaT">
                    <label #pi21>22</label><br>
                    <label #pn21>Casual Celeste</label><br>
                    <label  #pr21>75</label><br>
                    <button (click)="enviarValores(pi21.innerText ,pn21.innerText, pr21.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tenis11.png" class="imag">
                <div class="agregaT">
                    <label #pi22>23</label><br>
                    <label #pn22>Puma Mixto</label><br>
                    <label  #pr22>185</label><br>
                    <button (click)="enviarValores(pi22.innerText ,pn22.innerText, pr22.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tenis12.png" class="imag">
                <div class="agregaT">
                    <label #pi23>24</label><br>
                    <label #pn23>Puma Negro</label><br>
                    <label  #pr23>175</label><br>
                    <button (click)="enviarValores(pi23.innerText ,pn23.innerText, pr23.innerText)">enviar</button>
                </div>
            </div>
        </div>
    </div>

    <br><br>
    <div class="articulos">
        <h1>Accesorios</h1>
        <div class="rect">
            <div><img src="assets/aurNegro.png" class="imag">
                <div class="agregaT">
                    <label #pi24>25</label><br>
                    <label #pn24>Auricular Negro</label><br>
                    <label  #pr24>95</label><br>
                    <button (click)="enviarValores(pi24.innerText ,pn24.innerText, pr24.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/aurVerde.png" class="imag">
                <div class="agregaT">
                    <label #pi25>26</label><br>
                    <label #pn25>Auricular Verde</label><br>
                    <label  #pr25>95</label><br>
                    <button (click)="enviarValores(pi25.innerText ,pn25.innerText, pr25.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/aurRosa.png" class="imag">
                <div class="agregaT">
                    <label #pi26>27</label><br>
                    <label #pn26>Auricular Rosado</label><br>
                    <label  #pr26>95</label><br>
                    <button (click)="enviarValores(pi26.innerText ,pn26.innerText, pr26.innerText)">enviar</button>
                </div>
            </div>
        </div>

        <div class="rect">
            <div><img src="assets/gafNegra.png" class="imag">
                <div class="agregaT">
                    <label #pi27>28</label><br>
                    <label #pn27>Gafas Negras</label><br>
                    <label  #pr27>120</label><br>
                    <button (click)="enviarValores(pi27.innerText ,pn27.innerText, pr27.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/gafGris.png" class="imag">
                <div class="agregaT">
                    <label #pi28>29</label><br>
                    <label #pn28>Gafas Grises</label><br>
                    <label  #pr28>120</label><br>
                    <button (click)="enviarValores(pi28.innerText ,pn28.innerText, pr28.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/gafRoja.png" class="imag">
                <div class="agregaT">
                    <label #pi29>30</label><br>
                    <label #pn29>Gafas Naranjas</label><br>
                    <label  #pr29>120</label><br>
                    <button (click)="enviarValores(pi29.innerText ,pn29.innerText, pr29.innerText)">enviar</button>
                </div>
            </div>
        </div>

        <div class="rect">
            <div><img src="assets/relojGris.png" class="imag">
                <div class="agregaT">
                    <label #pi30>31</label><br>
                    <label #pn30>Reloj Gris</label><br>
                    <label  #pr30>100</label><br>
                    <button (click)="enviarValores(pi30.innerText ,pn30.innerText, pr30.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/relojVerde.png" class="imag">
                <div class="agregaT">
                    <label #pi31>32</label><br>
                    <label #pn31>Reloj Verde</label><br>
                    <label  #pr31>100</label><br>
                    <button (click)="enviarValores(pi31.innerText ,pn31.innerText, pr31.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/relojRojo.png" class="imag">
                <div class="agregaT">
                    <label #pi32>33</label><br>
                    <label #pn32>Reloj Rojo</label><br>
                    <label  #pr32>100</label><br>
                    <button (click)="enviarValores(pi32.innerText ,pn32.innerText, pr32.innerText)">enviar</button>
                </div>
            </div>
        </div>

        <div class="rect">
            <div><img src="assets/tomatodoNegro.png" class="imag">
                <div class="agregaT">
                    <label #pi33>34</label><br>
                    <label #pn33>Tomatodo Negro</label><br>
                    <label  #pr33>50</label><br>
                    <button (click)="enviarValores(pi33.innerText ,pn33.innerText, pr33.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tomatodoGris.png" class="imag">
                <div class="agregaT">
                    <label #pi34>35</label><br>
                    <label #pn34>Tomatodo Gris</label><br>
                    <label  #pr34>50</label><br>
                    <button (click)="enviarValores(pi34.innerText ,pn34.innerText, pr34.innerText)">enviar</button>
                </div>
            </div>
            <div><img src="assets/tomatodoRojo.png" class="imag">
                <div class="agregaT">
                    <label #pi35>36</label><br>
                    <label #pn35>Tomatodo Rojo</label><br>
                    <label  #pr35>50</label><br>
                    <button (click)="enviarValores(pi35.innerText ,pn35.innerText, pr35.innerText)">enviar</button>
                </div>
            </div>
        </div>
    </div>

</div>