table{
    border-color: #222831;
    background-color: #393E46;
    color: #00ADB5;
    width: 100%;
    text-align: center;
}

img{
    width: 200px;
    height: 200px;
}

td{
    width: 1000px;
}

.catalogo{
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
}

.ropa{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.tenis{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.articulos{
    text-align: center;
    display: flex;
    flex-direction: column;
}

.rect{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 1000px;
    padding-top: 1rem;
}

.imag{
    width: 250px;
}

.botones{
    width: 250px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.card{
    
    display: flex;
    flex-direction: column;
}

@media(max-width: 1200px) {

    td{
        width: 600px;
        
    }

    .rect{
        width: 750px;
        justify-content: space-between;
        border-color: #222831;
    }

    .imag{
        width: 150px;
        height: 120px;
    }
    
    .botones{
        width: 150px;
    }

}

@media(max-width: 777px) {

    td{
        width: 200px;
        
    }

    .rect{
        width: 250px;
        
        justify-content: space-between;
        border-color: #222831;
    }

    .imag{
        width:  70px;
        height: 80px;
    }
    
    .botones{
        width: 70px;
        height: 20px;
    }

}