body {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #EEEEEE;
    font-family: 'Roboto', sans-serif;
}

.info-top {
    background-color: #393E46;
    color: #EEEEEE;
    font-size: 8pt;
    display: flex;
    justify-content: space-between;
    padding: 13px 15%;
}

.info-top > .izq > a {
    color: #EEEEEE;
}

.info-top > .der > a {
    color: #EEEEEE;
}

.info-top > .der{
    display: flex;
    gap: 18px;
}

.info-top > .izq{
    display: flex;
    gap: 18px;
}

header {
    background-color: #222831;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 26px 15%;
}

header > .izq > .logo {
    color: #EEEEEE;
    font-size: 26pt;
}

header > .mid {
    display: flex;
    gap: 65px;
}

header > .der {
    display: flex;
    gap: 15px;
}

.logo {
    font-weight: 600; 
}

a {
    color: #00ADB5;
    text-decoration: none;
}

a:active {
    color: #00ADB5;
}

article{
    display: flex;
    padding: 100px 300px;
}

footer {
    background-color: #222831;
    color: #EEEEEE;
    display: flex;
    flex-direction: column;
    padding: 40px /* 200px */ 15%;
    margin-top: auto;
    gap: 26px;
}

footer > .columnas {
    display: flex;
    justify-content: space-between;
}

footer > .info-bot {
    font-size: 24pt;
}

footer > .info-bot > a {
    color: #EEEEEE;
}

.columna {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-basis: 30%;
}

p {
    padding: 0;
    margin: 0;
}

footer > .columnas > .columna > .texto-grande {
    font-size: 18pt;
}

footer > .columnas > .columna > a {
    color: #EEEEEE;
}

.linea {
    border-bottom: 1px ridge #414d5e;
    margin: 4px 0;
}

@media (max-width: /* 1520px */ 1300px) {

    header > .mid {
        display: flex;
        gap: 50px;
    }

    header {
        padding: 2% 4%;
    }

    .info-top {
    padding: 14px 4%;
    }

    footer {
        padding: 40px 80px;
    }

    article {
        padding: 50px 150px;
    }
}

@media (max-width: 850px) {

    .info-top {
        display: none;
    }

    header > .mid {
        display: none;
    }

    header > .botones {
        display: none;
    }

    footer {
        flex-direction: column;
        gap: 35px;
        padding: 35px 12%;
    }

    .linea {
        border-bottom: 1px ridge #414d5e;
        margin: 4px 0;
    }

    .columnas {
        display: flex;
        flex-direction: column;
        gap: 35px;
    }

    .columna {
        display: flex;
        flex-direction: column;
    }

    article {
        padding: 40px 80px;
    }
}